#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=
APPWRITE_DATABASE_ID=
APPWRITE_USER_COLLECTION_ID=
APPWRITE_ITEM_COLLECTION_ID=
APPWRITE_BANK_COLLECTION_ID=
APPWRITE_TRANSACTION_COLLECTION_ID=
NEXT_APPWRITE_KEY=9f054cc90f3b20e77d7fa859a4308bf06dd43983e50592ac783c864f3a579ad9cdfc8d8f255370bec33f37cb611786a95961afec626cecdc71f31f149f928912eac89b5b89a54f1f0ffa2509f68d1d6417c6255cea9f1d931e1a4f80334ea7a8b6f54e7ed2682a331c5e79021def2e9aef1a70288196fb3a5269debefd60d56e

#PLAID
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=
PLAID_PRODUCTS=
PLAID_COUNTRY_CODES=

#DWOLLA
DWOLLA_KEY=
DWOLLA_SECRET=
DWOLLA_BASE_URL=
DWOLLA_ENV=